*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	@media (max-width: 600px) {
		font-size: 50%;
	}
}

body {
	background: #e0e5ec;
	font-family: 'Lato', sans-serif;
	padding: 2rem 6rem;
	font-size: 1.2rem;
	// position: relative;

	@media (max-width: 600px) {
		padding: 1.5rem 4rem;
	}
}

.container {
	width: 80%;
	margin: auto;

	@media (max-width: 600px) {
		width: 100%;
	}
}

input {
	border-radius: 5px;
	padding: 1.5rem;
	background: #e0e5ec;
	border: none;
	border-radius: 3rem;
	font-size: 1.8rem;
	outline: none;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	box-shadow: inset -2px -1px 5px 0px #b7b9bb, inset 2px -1px 1px 0px #dddada;
	transition: all 0.3s;

	&::placeholder {
		font-size: 1.6rem;
	}

	&:focus {
		box-shadow: inset 3px 2px 5px 1px #c2c2c2, inset -1px 2px 1px 0px #c7cdcd;
		outline: none;
	}
}

.btn {
	padding: 1.5rem 3rem;
	margin: 2rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	color: rgb(41, 39, 39);
	border-style: none;
	border: 1px solid transparent;
	background: #e0e5ec;
	cursor: pointer;
	box-shadow: inset -2px -1px 5px 0px #b7b9bb, inset 2px -1px 1px 0px #dddada;
	transition: all 0.5s ease;

	&:active,
	&:hover {
		outline: none;
		box-shadow: inset 2px 3px 4px 0px #b7b9bb, inset 0px 1px 1px 1px #dddada;
		border: 1px solid rgba(0, 0, 0, 0.125);
	}

	&:focus {
		outline: none;
	}

	&-submit {
		padding: 1.5rem 4rem;
		margin-bottom: 2.5rem;
	}
}

.image-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	column-gap: 9px;
	grid-auto-rows: 4px;

	@media (max-width: 340px) {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}

.image__card {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: max-content;
	border-radius: 0.8rem;

	img {
		width: 100%;
		display: block;
		border-radius: 0.8rem;
	}

	&-description {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		transform: translateY(100%);
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.8rem;
		transition: all 0.5s;
	}

	&:hover &-description {
		transform: translateY(0);
	}

	&-dldIcon {
		width: 50px;
		height: 50px;

		@media (max-width: 600px) {
			width: 40px;
			height: 40px;
		}
	}
}

#loader {
	height: 50px;
	width: 50px;
	border: 4px solid red;
	border-radius: 50%;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	margin: 3rem auto;
	animation: spin 0.8s infinite linear;

	@media (max-width: 600px) {
		border-width: 3px;
		height: 40px;
		width: 40px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
